{% extends "layout.html" %}

{% block content %}

    <body style="background-color:#7f8c8d">
    
    <div class="jumbotron-fluid" style="max-height:50px">
    
        <center>
       <h1 style=color:white;">How Core Music Works</h1>
       </center>
    </div>
    <!-- Example row of columns -->
      <div container style="padding-top:25px" class="row">
        <center>
        <div class="col-md-4">
          
<img style="width:200px; height:400px"src={{ url_for('static', filename="img/step1.png")}}>
          
        
        </div>
        <div class="col-md-4">
          <img style="width:200px; height:400px"src={{ url_for('static', filename="img/step2.png")}}>

       
    
       </div>
        <div class="col-md-4">
          <img style="width:200px; height:400px"src={{ url_for('static', filename="img/step3.png")}}>
          
        </div>
        </center>
      </div>

</body>

{% endblock %}