{% extends "layout.html" %}

{% block content %}

    <body style="background-color:#7f8c8d">
    
    <div class="jumbotron-fluid" style="max-height:50px">
    
        <center>
       <h1 style=color:white;">How Core Music Works</h1>
       </center>
    </div>

    <div class="row">
    <center>
    <video  autoplay loop width="800" height="600" name="Video Name" type="video/mp4" src="static/img/realmov.mp4"></video>
    </div>
    </center>
    <!-- Example row of columns -->
      <div class="row">
        <center>
        <div class="col-md-4">
          <h2>
<img src="https://maxcdn.icons8.com/iOS7/PNG/25/Alphabet/1_circle-25.png" title="Circled 1" width="25"></h2>
          <p> You create an account with Core Music. This includes your phone number and your 10 favorite artists.  </p>
        
        </div>
        <div class="col-md-4">
          <h2><img src="https://maxcdn.icons8.com/iOS7/PNG/25/Alphabet/2_circle-25.png" title="Circled 1" width="25"></h2></h2>
          <p>We consult our variety of sources looking for new music from the artists you gave us. We are constantly working in the background so you find out about new songs within minutes of its release </p>
    
       </div>
        <div class="col-md-4">
          <h2><img src="https://maxcdn.icons8.com/iOS7/PNG/25/Alphabet/3_circle-25.png" title="Circled 1" width="25"></h2>
          <p>When one of your artists drops a song, we send you an SMS text with a direct link to the song. This link will open Soundcloud right on your phone, so you can listen right away</p>
          
        </div>
        </center>
      </div>

</body>

{% endblock %}