{% extends "user_layout.html" %}

{% block content %}


   <center>  
      <h1 style="color:white">Core Music</h1>
      <h2>  </h2>
      <h3> </h3>

      <h3 style="padding-top:35px"> Need to add, remove, or change the artists we text you about?   </h3>

      <a class="btn btn-primary-outline btn-lg" href="/settings" role="button" style="color:white; background-color:transparent;">My Settings</a>

      <h3 style="padding-top:35px"> Have a question for us? A suggestion?   </h3>

      <a class="btn btn-primary-outline btn-lg" href="/contactus" role="button" style="color:white; background-color:transparent;">Contact us</a>



    </center>
    <nbsp></nbsp>

<body style="background-color:#7f8c8d">

{% endblock %}