<!DOCTYPE html>

    <link href="static/css/bootstrap.css" rel="stylesheet">
<html>

 <body class="noauth-body">
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Core Music</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/aboutus" style="font-size:20px">About us</a></li>
        <li><a href="/login" style="font-size:20px">Log in</a></li>
        <li><div><a href="/signup" class="btn btn-default btn-primary navbar-btn" style="font-size:17px">Sign up</a></div></li>

    </ul>
    </div>
    </div>
</nav>



 
    <center>
      <h1>Core Music</h1>
      <h2>  </h2>
      <h3> </h3>
    </center>
    <nbsp></nbsp>




{% block content %}
    {% endblock %}
   
</body>



</html>
