{% extends "layout.html" %}

{% block content %}
<center>
    <main class="container signup-section">
        <div class="section-content">
            <h2> Subscribe to the Beta </h2>

            <form method="POST" action="/signup">
            {{ form.hidden_tag() }}

            <div class="form-group">
          
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                <p class="error-message"> {{ error }} </p>
                {% endfor %}
            {% endif %}

            {{ form.name(placeholder="Full Name", style="width: 275px", class_="form-control")}} 
            </div>

            <div class="form-group">
           
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                <p class="error-message"> {{ error }} </p>
                {% endfor %}
            {% endif %}

            {{ form.email(placeholder="Email", style="width: 275px", class_="form-control")}}
            </div>

            <div class="form-group">

            {% if form.number.errors %}
                {% for error in form.number.errors %}
                <p class="error-message"> {{ error }} </p>
                {% endfor %}
            {% endif %}

            {{ form.number(placeholder="Phone number ", style="width: 275px", class_="form-control")}}
            </div>

            <div class="form-group">
            

            {% if form.artists.errors %}
                {% for error in form.artists.errors %}
                <p class="error-message"> {{ error }} </p>
                {% endfor %}
            {% endif %}

            {{ form.artists(placeholder="Enter your 5 favorite artists, separated by commas", style="width: 275px", class_="form-control")}} 
            </div>

            {{ form.submit(class="btn-success")}}

            </form>
            </div>

</main>


{% endblock %}