{% extends "layout.html" %}

{% block content %}
   <center>  
      <h1 style="color:white">Core Music</h1>
      <h2>  </h2>
      <h3> </h3>
    </center>
    <nbsp></nbsp>

<body style="background-color:#7f8c8d">
<center>
<div class=container container--nr>
<div class=noauth__form-container>
<h1> Thanks for subscribing! </h1>
<nbsp></nbsp>
<h4> Check your cell phone, we sent you a text </h4>

<h4 style="padding-top:250px"><a href="/home">Tap here to continue to your Core Music dashboard</a></h4>
</div>
</div>
</center>
</body>
{% endblock %}